fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
psycopg2-binary
pydantic
dlib @ file:../misc/Face_Recognition_Project_Pheme/dlib-19.22.99-cp310-cp310-win_amd64.whl
face-recognition
numpy
Pillow
opencv-python
mediapipe
torch
torchaudio
sounddevice
ultralytics
ultralytics
